/* popup Error */
.container-popup {
  position: absolute;
  z-index: 855555;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 50%;
  align-items: center;
  margin-top: 32px;
}
.popupError {
  width: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 6px 67px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.error-icon {
  width: 60px;
  height: 60px;
  background-color: #ff5757;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
}

.error-icon::before {
  content: "×";
  font-size: 30px;
  color: white;
}

.error-title {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.error-message {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.try-again-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff5757;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
