.loading-container {
    /* position: fixed;
    width: 50%;
    height: 50%; */
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  
  .loading-container.hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .loading-svg {
    width: 70px;
    height: 180px;
  }
  
  #content {
    text-align: center;
    display: none;
  }
  